.my-profile{
    width: 79px;
    height: 79px;
    border-radius: 50%;
    object-fit: cover;

}

.profileContainer{
    display: flex;
    flex-direction: column;
    gap: 19px;
    
    margin-left: 13px;
}

.profile-top{
    display: flex;
    align-items: center;
    gap:16px;
}

.sub-con{
    display: flex;
    flex-direction: column;
    gap:7px;
}

.my-rate{
    display: flex;
    align-items: center;
    gap:3px;
    font-size: 13px;
    color: #4860BE;
    font-weight: 400;

   
}



.my-rate img{
   width: 12px;
    height: 9px;
    cursor: pointer;
   
}

.my-name{
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 4px;

    font-weight: 400;

}

.profile-bottom{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding-left: 2px;

}

.profile-bottom span{
    color: #4860BE;;
}

.line{
    width: 100%;
    height: 1px;
    background: #B1B1B1;
    margin-top: 23.46px;
}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    margin-top: 16px;
}

.review-item{
    display: flex;
    
    gap:10px;
    flex-direction: column;
    width: 345px;
   border-radius: 20px;
    background: rgba(191, 200, 239, 0.32);
    padding: 13px 16px;
    
    width: cal(100%-30px);
    
    
}

.review-tags{
    padding-top: 5px;
    display: flex;
    gap: 5px;
}

.tag{
        padding: 0px 10px;
    height: 25px;

    background-color: #4860BE;
    border-radius: 50px;
    background: rgba(191, 200, 239, 0.32);

    color: #000;
    text-align: center;

    font-size: 10px;
    
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-header{
    display: flex;
    gap: 10px;
    align-items: center;
}

.review-header p{
    font-size: 15px;
    display: flex;
    align-items: center;
}

.review-header p .fe{
color: #BD0505;
}

.review-header p .ma{
  color: #0000B5;
    }


.review-header h3{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap:4px;
}
.review-header .review-date{
    font-size: 10px;
}

.review-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개씩 */
  /* 사진 사이 간격 */
  width: 100%; /* 부모 기준으로 채우기 */
}

.review-photos img {
  width: 100%;
  height: 165px;
  object-fit: cover; /* 비율 유지 + 잘림 */
  
}

.options{

    font-size: 10px;
    display: flex;
    gap: 13px;
    padding-right: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
    
    
}

.review-header{
   padding-top: 10px;
}

.ad{
    background-color: #B1B1B1;
    width: 100%;
    height: 64px;
    margin-bottom: 16px;
    
}